<%= provide(:title, "Edit " + @critic.name) %>
<div class="form">
    <h1>Edit <%= @critic.name %></h1>
    <ul>
        <li>
            <%= form_for @critic do |c| %>
        </li>
    
        <li>    
            <%= c.label :name %>
            <%= c.text_field :name %>
        </li>
    
        <li>    
            <%= c.label :email %>
            <%= c.text_field :email %>
        </li>
    
        <li>    
            <%= c.label :password %>
            <%= c.password_field :password %>
        </li>
        
        <li>
            <%= c.label :password_confirmation %>
            <%= c.password_field :password_confirmation %>
        </li>
    
        <li>
            <%= c.submit "Update" %>
        </li>
    <% end %>
</div>