<%= provide(:title, @critic.name) %>
<div class='critics'>
    <h1><%= @critic.name %></h1>
    <% if logged_in? %>
        <% if @critic == @current_critic %>
        <ul class="links">
            <li><%= link_to "DELETE", @critic, method: :delete, data: {confirm: "You sure about that?"} %></li>
            <li><%= link_to "EDIT", edit_critic_path %></li>
        </ul>
        <% end %>
    <% end %>
        <div class="favorites">
            <h1>Favorites</h1>
            <ul>
            <% @critic.movies.each do |movie| %>
                <li class="movie">    
                    <%= render movie %>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="reviews">
            <h1>Reviews</h1>
            <ul>
            <% @critic.reviews.each do |review| %>
                <li class="review">    
                    <%= render review %>
                </li>
            <% end %>
            </ul>
        </div> 
</div>

