<%= provide(:title, @movie.title) %>
<div class="movieOne">
    <h1><%= @movie.title %></h1>
    <%= image_tag @movie.picture.url if @movie.picture != nil %>
    <%= render 'favorite_form' if logged_in? %>
    <h3>Category: <%= @movie.category %></h3>
    <p>Description: <%= @movie.description %></p>
    <ul class="links">
        <li><%= link_to "DELETE", @movie, method: :delete, data: {confirm: "You sure about that?"} %></li>
        <li><%= link_to "EDIT", edit_movie_path %></li>
    </ul>
    <%= render 'review_form' if logged_in? %>
    <h1 class="reviewHeader">Reviews</h1>
    <ul class="reviews">
    <% @movie.reviews.each do |review| %>
        <li class="review">
            <%= render review %>
        </li>
    <% end %>
    </ul>
</div>