<div class="categoryHeader">
    <ul>
        <li><%= link_to "Thriller", '/movies/category/thriller' %></li>
        <li><%= link_to "Drama", '/movies/category/drama' %></li>
        <li><%= link_to "Sci-Fi", '/movies/category/sci-fi' %></li>
        <li><%= link_to "Comedy", '/movies/category/comedy' %></li>
        <li><%= link_to "Action", '/movies/category/action' %></li>
        <li><%= link_to "Documentary", '/movies/category/documentary' %></li>
        <li><%= link_to "Romance", '/movies/category/romance' %></li>
        <li><%= link_to "Mystery", '/movies/category/mystery' %></li>
    </ul>
</div>