<div class="sidebar">
    <div class="add">
        <h1><%= link_to "Add a Movie", "#" %></h1>
    </div>
    <div class="categories">
        <h1>Search</h1>
        <h1>Categories</h1>
        <ul>
            <li><%= link_to "Comedy", "#" %></li>
            <li><%= link_to "Action", "#" %></li>
            <li><%= link_to "Drama", "#" %></li>
            <li><%= link_to "Horror", "#" %></li>
            <li><%= link_to "Documentary", "#" %></li>
            <li><%= link_to "Romantic", "#" %></li>
        </ul>
    </div>
</div>